
main {
    .g-medidas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            h1{
                font-size: 22px;
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
                }
            .tomar-medidas{
                li {
                    h3{
                        font-size: 15px;
                        text-align: left;
                        font-family: 'Ubuntu', sans-serif;
                        }
                    #tg-medidas {
                        font-size: 13px;
                        text-align: justify;
                        padding-right: 15px;
                        font-family: 'Ubuntu', sans-serif;
                        }
                    }
                }
            }
        }
        .gtallas {
            margin: 0 auto;
            justify-content: space-around;
        }
    .notas{
        font-size: 12px;
        text-align: justify;
        font-family: 'Ubuntu', sans-serif;
        span{
            ul {
                list-style: none;
                text-align: justify;
                span {
                    padding: 4px;
                    }
                }
            }
        }
    div{
        video {
            margin: 0 auto;
            display: block;
            padding: 20px;
        }
        }
    }   