main{
    .produc {
        margin: 10px;
        .item-page{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}